@charset "utf-8";
/* CSS Document */

html {
	scroll-behavior:smooth;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

*, *:before, *:after {
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
         box-sizing: inherit;
}

body {
	color: #e5e5e5;
	background-color: #1c1c1c;
	min-width: 320px;
	padding-top: 3vh;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

header {
	height: 95vh;
	min-height: 800px;
}

.headerimg {
	display: block;
	max-width: 100%;
	max-height: 75%;
	margin: auto;
}

header h1{
	color: #c1614d;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
	font-size: 42px;
	margin: 16px 0;
}

header h2 {
	color: #e5e5e5;
	text-align:center;
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
	font-size: 32px;
	margin: 6px 0;
}

nav {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;	
	bottom: 0;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #1c1c1c;
}

nav li {
	display: inline-block;
}

nav li a {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 500;
	font-size: 19px;
    display: block;
    padding: 14px 18px;
    text-decoration: none;
	transition: color 2s ease;
}

nav li a:link {
	color: #e5e5e5;
}

nav li a:visited {
	color: #e5e5e5;
}

nav li a:hover {
	color: #e22200;
	transition: color 0.25s ease;
}

nav li a:active {
	color: #282828;
}

.paragraph h2 {
	color: #e5e5e5;
	text-align: center;
	font-family: 'Amatic SC', cursive;
	font-weight: normal;
	font-size: 32px;
	margin-bottom: 20px;
}

.contact a:link {
	color: #c1614d;
}

.contact a:visited {
	color: #c1614d;
}

footer {
	max-width: 740px;
	min-width: 320px;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	line-height: 20px;
}

.paragraph {
	max-width: 740px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding: 200px 6px 8px 6px;
	margin: 0 auto;
	min-height: 100vh;
}

.paragraph .contact {
	min-height: calc(100vh - 20px);
}

.paragraph ul {
	list-style-type: none;
	padding: 0 20px;
}

.paragraph h3 {
	color: #c1614d;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

/* Gallery stuff */

.my-gallery {
	max-width: 740px;
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	font-size: 0;
}

.my-gallery:after {
	content: '';
	display: table;
	clear: both;
}

.my-gallery figure {
	display: inline-block;
	margin: 0;
	padding: 0 10px 5%;
	flex-basis: 50%;
	text-align: center;
}

.my-gallery a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.my-gallery img {
	vertical-align: top;
	object-fit: cover;
	object-position: center;
	overflow: hidden;
	width: 150px;
	height: 150px;
}

.my-gallery figcaption {
	display:none;
}

/* Resposiveness */

@media screen and (max-width: 469px) {
 .my-gallery figure {
    padding: 0 3px 5%;
 }
  header h2 {
	font-size: 24px;
 }
  body {
	padding-top: 2px;
 }
  header h1 {
	margin: 2px 0 8px 0;
 }

 nav li a {
	width: 55px;
	padding: 14px 8px;
}
}
@media screen and (min-width: 527px) {
 .my-gallery figure {
    flex-basis: 33%;
  }
}
@media screen and (min-width: 697px) {
 .my-gallery figure {
    flex-basis: 25%;
  }
}